<div class="partial-container">
  <div class="form-container">
    {{> components/showMessage }}
    <header class="form-navigation">
      <a href="/discount/list"><i class="fa fa-list"></i> Listele</a>
      <span>İndirim İşlemleri</span>
    </header>
    <form class="border border-light" id='form' action="/discount/{{endPoint}}" method="POST">
      <div class="form-inside-container">
        <input type="hidden" name="id" value="{{discount.id}}">

        <label class="col-form-label">Ad</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="" value="{{discount.name}}" required
          oninvalid="this.setCustomValidity('Lütfen indirim adını girin.')"
          oninput="setCustomValidity('')">
          
          <label class="col-form-label">Park İndirimi (%)</label>
          <input type="number" class="form-control" name="parkDiscount" id="parkDiscount" placeholder="0" value="{{discount.parkDiscount}}" required
            min="0" max="100"
            oninvalid="this.setCustomValidity('Lütfen park indirimini girin.')"
            oninput="setCustomValidity('')">

          <label class="col-form-label">Transfer İndirimi (%)</label>
          <input type="number" class="form-control" name="transferDiscount" id="transferDiscount" placeholder="0" value="{{discount.transferDiscount}}" required
            min="0" max="100"
            oninvalid="this.setCustomValidity('Lütfen transfer indirimini girin.')"
            oninput="setCustomValidity('')">
      </div>
      
      <div class="form-group row row-cols-3">
        <div class="col-auto grid-button-group ml-auto">
            <button type="button" class="btn-info" id="resetButton"><i class="fas fa-sync-alt"></i>Sıfırla</button>
            <button type="submit" class="btn-success"><i class="fas fa-save"></i>
            {{#ifEquals "add" endPoint}}
            Ekle
            {{else}}
            Güncelle
            {{/ifEquals}}
            </button>
        </div>
    </div>
    </form>
  </div>
</div>

<script>
  $('#resetButton').on('click', function () {
    $('#name').val('');
    $('#parkDiscount').val('');
    $('#transferDiscount').val('');
  });
</script>