<div style="display: flex;flex-grow: 1;">
  <div style="flex: 2; margin: 12px 24px;">
    <form class="border border-light" action="/parkinglot/add" method="POST">
      <div class="form-group row row-cols-3">
        <div class="col">
          <label class="col-sm-2 col-form-label">Adı</label>
          <input type="text" class="form-control" name="name" placeholder="Otopark Adı">
        </div>
        
        <div class="col">
          <label class="col-form-label">Yetkili</label>
          <select class="browser-default custom-select" name="staffId">
            {{#each parkingLotUsers}}
              <option value="{{this.id}}">{{this.name}} {{this.surname}}</option>
            {{/each}}
          </select>
        </div>
        
        <div class="col" data-validate="Otopark adini yaziniz">
          <label class="col-sm-2 col-form-label">Tip</label>
          <select class="browser-default custom-select" name="parkingTypeId">
            {{#each parkingLotType}}
              <option value="{{this.id}}">{{this.description}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      
      <div class="form-group row row-cols-3">
        <div class="col mr-auto" data-validate="Otopark adini yaziniz">
          <label class="col-sm-2 col-form-label">Açıklama</label>
          <textarea class="form-control" rows="2" name="description" ></textarea>
        </div>
        <div class="col-auto grid-button-group">
          <button type="button" class="btn-info"><i class="fa fa-refresh"></i>Sıfırla</button>
          <button type="submit" class="btn-success"><i class="fa fa-save"></i>Ekle</button>
        </div>
      </div>
    </form>
  </div>
</div>