<div>
  <form class="text-center border border-light" action="add" method="POST"> 
    <p class="h4 mb-4">Otopark Ekle</p>
    
    <div class="form-group" data-validate="Otopark adini yaziniz">
      <label>OTOPARK ADI</label>
      <input class="form-control" type="text" name="description" placeholder="Otopark Adı">
    </div>
    
    <div class="form-group" data-validate="Otopark adini yaziniz">
      <label>OTOPARK TİPİ *</label>
      <select class="browser-default custom-select" name="parkingTypeId">
        {{#each parkingLotType}}
          <option value="{{this.id}}">{{this.description}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group" data-validate="Otopark adini yaziniz">
      <label>OTOPARK TİPİ *</label>
      <select class="browser-default custom-select" name="staffId">
        {{#each parkingLotUsers}}
          <option value="{{this.id}}">{{this.name}} {{this.surname}}</option>
        {{/each}}
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>