<div style="display: flex;flex-grow: 1;">
  <div class="form-container">
    {{#if success}}
      <div class="alert alert-success" role="alert">
        {{success}}
      </div>
    {{/if}}
    {{#if error}}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {{/if}}
    <form class="border border-light" action="/user/{{endPoint}}" method="POST">
      <div class="form-inside-container">
        <input type="hidden" name="id" value="{{user.id}}">

        <label class="col-form-label">Kullanıcı Adı</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="" value="{{user.username}}" 
        {{#ifEquals endPoint "update"}}
          disabled
        {{/ifEquals}}
        >

          <label class="col-form-label">Profil</label>
          <select class="browser-default custom-select" name="roleId" id="roleId">
            {{#each userRole}}
              <option value="{{this.id}}"
              {{#ifEquals this.id ../user.roleId}}
                selected
              {{/ifEquals}}
              >
                {{this.role}}
              </option>
            {{/each}}
          </select>

          <label class="col-form-label">Adı</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="" value="{{user.name}}">

          <label class="col-form-label">Email</label>
          <input type="text" class="form-control" name="email" id="email" placeholder="" value="{{user.email}}">

           <label class="col-form-label">Soyadı</label>
          <input type="text" class="form-control" name="surname" id="surname" placeholder="" value="{{user.surname}}">

          <label class="col-form-label">Telefon Numarası</label>
          <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="" value="{{user.phoneNumber}}">
          
          <label class="col-form-label">Adres</label>
          <input type="text" class="form-control" name="address" id="address" placeholder="" value="{{user.address}}">

          <label class="col-form-label">Şifre</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="" >

          <label class="col-form-label">Aktif</label>
          <label class="switch">
            <input type="checkbox" name="isActive" id="isActive" 
            {{#if user}}
              {{#if user.isActive}}
                checked
              {{/if}}
            {{else}}
              checked
            {{/if}}
            >
            <div class="slider round"></div>
          </label>
      </div>
      
      <div class="form-group row row-cols-3">
        <div class="col-auto grid-button-group ml-auto">
            <button type="button" class="btn-info" id="resetButton"><i class="fa fa-refresh"></i>Sıfırla</button>
            <button type="submit" class="btn-success"><i class="fa fa-save"></i>Ekle</button>
        </div>
    </div>
    </form>
  </div>
</div>

<script>
  $('#resetButton').on('click', function () {
    $('#name').val('');
    $('#surname').val('');
    $('#username').val('');
    $('#email').val('');
    $('#password').val('');
    $('#roleId').prop('selectedIndex', 0);
    $("#isActive").prop("checked", true);
  });
</script>