<div class="partial-container">
  <div class="form-container">
    {{> components/showMessage }}
    <header class="form-navigation">
      <a href="/vehicletype/list"><i class="fa fa-list"></i> Listele</a>
      <span>Araç Tipi İşlemleri</span>
    </header>
    <form class="border border-light" action="/vehicletype/{{endPoint}}/{{vehicleType.id}}" method="POST">
      <div class="form-inside-container">
          <label class="col-form-label">Adı</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Araç Tipi" value={{vehicleType.name}}>

          <label class="col-form-label">Açıklama</label>
          <input type="text" class="form-control" name="description" id="description" placeholder="Açıklama" value="{{vehicleType.description}}">

          <label class="col-form-label">Ücret (₺)</label>
          <input type="text" class="form-control" name="fee" id="fee" placeholder="Ücret" value="{{vehicleType.fee}}">
      </div>
      
      <div class="form-group row row-cols-3">
        <div class="col-auto grid-button-group ml-auto">
            <button type="button" class="btn btn-info btn-sm" id="resetButton"><i class="fas fa-sync-alt"></i>Sıfırla</button>
            <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-save"></i>
            {{#ifEquals "add" endPoint}}
            Ekle
            {{else}}
            Güncelle
            {{/ifEquals}}
            </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  $('#resetButton').on('click', function () {
    $('#name').val('');
    $('#description').val('');
    $('#fee').val('');
  });
</script>