<div class="partial-container">
  <div class="form-container">
    <header class="form-navigation">
      <a href="/vehicle/search"><i class="fas fa-search"></i> Ara</a>
      <span>Araç Giriş/Çıkış İşlemleri</span>
    </header>
    {{> components/showMessage }}

    <form class="border border-light" action="" method="POST">
      <div class="form-group row row-cols-3">
        <div class="col">
          <label class="col-form-label">Plaka</label>
          <select class="browser-default custom-select" name="plate" id="plate" required>
            {{#each vehiclePlates}}
              <option value="{{this.plate}}" >
                {{this.plate}}
              </option>
            {{/each}}
          </select>
        </div>
        <div class="col">
          <label class="col-form-label">Tip</label>
          <select class="browser-default custom-select" name="vehicleTypeId" id="vehicleTypeId" required>
            {{#each vehicleTypes}}
              <option value="{{this.id}}" >
                {{this.name}}
              </option>
            {{/each}}
          </select>
        </div>
        <div class="col">
          <label class="col-form-label">Şasi No</label>
          <input name="chassisNo" type="text" class="form-control" >
        </div>
      </div>

      <div class="form-group row row-cols-3">
        <div class="col">
          <label class="col-form-label">Marka</label>
          <select class="browser-default custom-select" name="brandId" id="brandId" required>
            {{#each vehicleBrands}}
              <option value="{{this.id}}" >
                {{this.description}}
              </option>
            {{/each}}
          </select>
        </div>
        <div class="col">
          <label class="col-form-label">Model Yılı</label>
          <input name="modelYear" type="text" class="form-control">
        </div>
        <div class="col">
          <label class="col-form-label">Kasa Tipi</label>
          <select class="browser-default custom-select" name="bodyTypeId" id="bodyTypeId" required>
            {{#each vehicleBodyTypes}}
              <option value="{{this.id}}" >
                {{this.description}}
              </option>
            {{/each}}
          </select>
        </div>
      </div>

      <div class="form-group row row-cols-3">
        <div class="col">
          <label class="col-form-label">Renk</label>
          <select class="browser-default custom-select" name="colorId" id="colorId" required>
            {{#each vehicleColors}}
              <option value="{{this.id}}" >
                {{this.description}}
              </option>
            {{/each}}
          </select>
        </div>
        <div class="col">
          <label class="col-form-label">Motor No</label>
          <input name="engineNo" type="text" class="form-control">
        </div>
        <div class="col">
         <label class="col-form-label">Transfer Durumu</label>
          <select class="browser-default custom-select" name="stateId" id="stateId" required>
            {{#each vehicleStates}}
              <option value="{{this.id}}" >
                {{this.description}}
              </option>
            {{/each}}
          </select>
      </div>
      </div>
      
      <div class="form-group row row-cols-3">
        <div class="col mr-auto">

        </div>
        <div class="col-auto grid-button-group">
          <button type="button" class="btn-info"><i class="fas fa-sync-alt"></i>Sıfırla</button>
          <button type="button submit" class="btn-success"><i class="fas fa-save"></i>Ekle</button>
        </div>
      </div>
    </form>
  </div>
</div>