<div class="outer-container">
  <div class="partial-container">
    <div class="form-container">
      {{> components/showMessage }}
      <header class="form-navigation">
        <div class="d-flex align-items-center">
          <span><i class="fas fa-angle-right fa-2x"></i></span>
          <a class="form-navigation-active" style="color: #17a2b8;" href="/vehicle/add"><i
                  class="fas fa-plus"></i> Ekle</a>
          <a href="/vehicle/search"><i class="fas fa-search"></i> Ara</a>
        </div>
        <span>Araç Giriş/Çıkış İşlemleri</span>
      </header>
      <form class="border border-light" action="" method="POST">
        <div class="form-group row row-cols-3">
          <div class="col">
            <label class="col-form-label">Plaka</label>
            <select class="browser-default custom-select" onchange="getVehicleData()" name="plate" id="plate" required>
              {{#each vehiclePlates}}
                <option value="{{this.plate}}">
                  {{this.plate}}
                </option>
              {{/each}}
            </select>
          </div>
          <div class="col">
            <label class="col-form-label">Tip</label>
            <select class="browser-default custom-select" name="vehicleTypeId" id="vehicleTypeId" required>
              {{#each vehicleTypes}}
                <option value="{{this.id}}">
                  {{this.name}}
                </option>
              {{/each}}
            </select>
          </div>
          <div class="col">
            <label class="col-form-label">Şasi No</label>
            <input name="chassisNo" id="chassisNo" type="text" class="form-control" required>
          </div>
        </div>

        <div class="form-group row row-cols-3">
          <div class="col">
            <label class="col-form-label">Marka</label>
            <select class="browser-default custom-select" name="brandId" id="brandId" required>
              {{#each vehicleBrands}}
                <option value="{{this.id}}">
                  {{this.description}}
                </option>
              {{/each}}
            </select>
          </div>
          <div class="col">
            <label class="col-form-label">Model Yılı</label>
            <input name="modelYear" id="modelYear" type="text" class="form-control" required>
          </div>
          <div class="col">
            <label class="col-form-label">Kasa Tipi</label>
            <select class="browser-default custom-select" name="bodyTypeId" id="bodyTypeId" required>
              {{#each vehicleBodyTypes}}
                <option value="{{this.id}}">
                  {{this.description}}
                </option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group row row-cols-3">
          <div class="col">
            <label class="col-form-label">Renk</label>
            <select class="browser-default custom-select" name="colorId" id="colorId" required>
              {{#each vehicleColors}}
                <option value="{{this.id}}">
                  {{this.description}}
                </option>
              {{/each}}
            </select>
          </div>
          <div class="col">
            <label class="col-form-label">Motor No</label>
            <input name="engineNo" id="engineNo" type="text" class="form-control">
          </div>
          <div class="col">
            <label class="col-form-label">Transfer Durumu</label>
            <select class="browser-default custom-select" name="stateId" id="stateId" required>
              {{#each vehicleStates}}
                <option value="{{this.id}}">
                  {{this.description}}
                </option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group row row-cols-3">
          <div class="col">
            <label class="col-form-label">Otopark</label>
            <select class="browser-default custom-select" name="parkingLotId" id="parkingLotId" required>
              {{#each parkingLots}}
                <option value="{{this.id}}">
                  {{this.name}}
                </option>
              {{/each}}
            </select>
          </div>
          <div class="col-auto grid-button-group ml-auto">
            <button type="button" class="btn btn-info btn-sm" id="resetButtonPassword"><i
                    class="fas fa-sync-alt"></i>Sıfırla
            </button>
            <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-save"></i>Kaydet</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>  
<div hidden class="loading" >
    <div class="spinner-grow text-info"></div>
    <div class="spinner-grow text-info"></div>
    <div class="spinner-grow text-info"></div>
    <div class="spinner-grow text-info"></div>
    <div class="spinner-grow text-info"></div>
    <div class="spinner-grow text-info"></div>
    <div class="spinner-grow text-info"></div>
    <div class="spinner-grow text-info"></div>
    <div class="spinner-grow text-info"></div>
  </div>
<script>
      function getVehicleData(){
      $('#vehicleTypeId').prop('selectedIndex', 0);
      $('#chassisNo').val('');
      $('#brandId').prop('selectedIndex', 0);
      $('#modelYear').val('');
      $('#bodyTypeId').prop('selectedIndex', 0);
      $('#colorId').prop('selectedIndex', 0);
      $('#engineNo').val('');


      $(".loading").css("animation", "1s fadeIn");
      $(".loading").removeAttr("hidden");
      $("#DiscountYes").css("pointer-events","none");
      let plate = $("#plate").val()
      $(document).ready(function () {
      const endPoint = `/vehicle/${plate}`;
        $.ajax({
        url: endPoint,
        type: "POST",
        dataType: 'json',
        data: {
          plate: plate,
        },
        success: function (result) {
            $('#vehicleTypeId').val(result.data.vehicleTypeId);
            $('#chassisNo').val(result.data.chassisNo);
            $('#brandId').val(result.data.brandId);
            $('#modelYear').val(result.data.modelYear);
            $('#bodyTypeId').val(result.data.bodyTypeId);
            $('#colorId').val(result.data.colorId);
            $('#engineNo').val(result.data.engineNo);
            $(".loading").css("animation", "1s fadeOut");
            setTimeout(function() {
              $(".loading").attr("hidden", "hidden");
            }, 1000)
        },
        error: function (error) {
            $(".loading").css("animation", "1s fadeOut");
            setTimeout(function() {
              $(".loading").attr("hidden", "hidden");
            }, 1000)
        }
      });

    });
      }
</script>

<style>
  .loading{
    position:absolute; 
    z-index:1; 
    display: flex;   
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%;  
    background-color:rgba(50, 50, 50, 0.7);
}
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
</style>