<div class="outer-container">
  <div>
    <div class="form-container">
      {{> components/showMessage }}
      <div hidden id="warningText" class="alert alert-warning" role="alert">
        Bu aracın üzerine icra işlemi bulunmaktadır
      </div>
      <header class="form-navigation">
        <div class="d-flex align-items-center">
        </div>
        <span>Araç Çıkış İşlemi</span>
      </header>
      <form id="exitForm" class="border border-light" action="/vehicle/exit" method="POST">
        <div class="form-group row row-cols-3">
          <div class="col">
            <label class="col-form-label">Plate</label>
            <input class="form-control" name="plate" id="plate" value="{{towVehicle.plate}}" readonly>
          </div>
          <div class="col">
            <label class="col-form-label">Araç Giriş Tarihi</label>
            <input class="form-control" name="entranceParkingLotDate" id="entranceParkingLotDate" type="text"
                   value="{{towVehicle.entranceParkingLotDate}}" readonly>
          </div>
          <div class="col">
            <label class="col-form-label">Çıkış Tarihi</label>
            <input class="form-control" name="exitDate" id="exitDate" value="{{exitDate}}" readonly>
          </div>
          <input class="form-control" name="towedDate" type="hidden" id="towedDate" value="{{towVehicle.towedDate}}">
        </div>
        <div class="form-group row row-cols-3">
          <div class="col">
            <label class="col-form-label">Tip</label>
            <select class="browser-default custom-select" name="vehicleTypeId" id="vehicleTypeId">
              {{#each vehicleTypes}}
                <option value="{{this.id}}"
                  {{#ifEquals this.id ../vehicle.vehicleTypeId}}
                        selected
                  {{/ifEquals}}
                >
                  {{this.name}}
                </option>
              {{/each}}
            </select>
          </div>
          <div class="col">
            <label class="col-form-label">Araç Sahibi</label>
            <div class="form-control">
              <input type="radio" name="discount" id="DiscountYes" value="Yes" onclick="hideRoleSelect()" required>
              İndirim Var
              <input type="radio" name="discount" id="DiscountNo" value="No" onclick="hideRoleSelect()" required>
              İndirim Yok
            </div>
          </div>
          <div class="col">
            <label class="col-form-label">Rol</label>
            <select class="browser-default custom-select" name="discountRoleId" id="discountRoleId" disabled="true"
                    required>
              <option value="">Rol Seçin</option>
              {{#each discountByRole}}
                <option value="{{this.id}}">
                  {{this.name}}
                </option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="form-group row row-cols-3">
          <div class="col">
            <label class="col-form-label">Teslim Alan Kişi</label>
            <input class="form-control" id="receiver" name="receiver" id="receiver" required>
          </div>
          <div class="col">
            <label class="col-form-label">Çekici Bilgisi</label>
            <input class="form-control" name="staffId" id="staffId"
                   value="{{lookup towVehicle 'User.name'}} {{lookup towVehicle 'User.surname'}}" readonly>
          </div>
          <div class="col">
            <label class="col-form-label">Bulunduğu Otopark</label>
            <input class="form-control" name="parkingLot" id="parkingLot"
                   value="{{lookup towVehicle 'ParkingLot.name'}}" readonly>
          </div>
            <input type="hidden" class="form-control" name="parkingLotId" id="parkingLotId"
                   value={{towVehicle.parkingLotId}}>
        </div>
        <div class="form-group row row-cols-3">
          <div class="col">
            <label class="col-form-label">Ek İşlem</label>
            <select class="browser-default custom-select" name="additionalFee" id="additionalFee">
              <option value="">Ek Ücret</option>
              {{#each additionalFee}}
                <option value="{{this.fee}}">
                  {{this.name}}
                </option>
              {{/each}}
            </select>
          </div>
          <div class="col">
            <label class="col-form-label">Tam Ücret</label>
            <input class="form-control" name="fullPrice" id="fullPrice" readonly>
          </div>
          <div class="col">
            <label class="col-form-label">İndirimli Ücret</label>
            <input class="form-control" name="discountPrice" id="discountPrice" readonly>
          </div>
        </div>
        <div class="form-group row row-cols-3">
          <div class="col">
            <label class="col-form-label">İcra Kurumları</label>
            <select class="browser-default custom-select" onchange="showWarning()" name="enforcementOfficeId" id="enforcementOfficeId">
              <option value=""></option>
              {{#each enforcementOffices}}
                <option value="{{this.id}}">
                  {{this.name}}
                </option>
              {{/each}}
            </select>
          </div>
          
        </div>
        <div class="form-group row row-cols-3">
          <div class="col mr-auto">
            <div  hidden id="warningText">
              <p style="color: red; font-family:verdana; text-align:center; font-weight:500;">Bu aracın çıkışı yapılmamalı</p>
          </div>
          </div>
          <div class="col-auto grid-button-group">
            <button type="button" class="btn btn-info btn-sm" onclick="restart()"><i class="fas fa-sync-alt"></i>Sıfırla</button>
            <button type="button" onclick="calculate();" class="btn btn-info btn-sm"><i class="fas fa-sync-alt"></i>Ücret
              Hesaplama
            </button>
            <button type="button submit" id="exitButton" class="btn btn-secondary btn-sm" disabled><i class="fas fa-save"></i>Çıkış</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="table-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Plaka</th>
          <th scope="col">Çekiliş Tarihi</th>
          <th scope="col">Otopark</th>
          <th scope="col">Görevli</th>
          <th scope="col">Parka Giriş Tarihi</th>
          <th scope="col">Parktan Çıkış Tarihi</th>
          <th scope="col">Otopark Durumu</th>
        </tr>
      </thead>
       <tbody>
      {{#each transfers}}
        <tr>
          <th class="column1">{{incrementByOne @index}}</th>
          <td class="column2">{{plate}}</td>
          {{!-- <td class="column3">{{lookup this 'Vehicle.chassisNo'}}</td> --}}
          <td class="column3">{{towedDate}}</td>
          <td class="column4">{{lookup this 'ParkingLot.name'}}</td>
          <td class="column5">{{lookup this 'User.name'}} {{lookup this 'User.surname'}} </td>
          <td class="column6">{{entranceParkingLotDate}}</td>
          <td class="column7">{{exitParkingLotDate}}</td>
          <td class="column8">
          {{#ifEquals isInParkingLot 1 }}
            Otoparka Giriş Yapılmış
          {{/ifEquals}}
          {{#ifEquals isInParkingLot 0 }}
            Otoparka Giriş Yapılmamış
          {{/ifEquals}}
          </td>
      {{/each}}
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script>
  function makeInputChange(change){
    if(change === true) {
      $('#exitForm :input').prop('readonly', false);
      $("select").css("pointer-events","auto");
      $("#vehicleTypeId").css("pointer-events","none");
    } else {
       $('#exitForm :input').prop('readonly', true);
      $("select").css("pointer-events","none");
    }
  }

  function calculate() {
    let plate = $("#plate").val()
    let entranceParkingLotDate = $("#entranceParkingLotDate").val()
    let discountRoleId = $("#discountRoleId").val()
    let vehicleTypeId = $("#vehicleTypeId").val()
    let discount = $("#DiscountYes").is(":checked")
    let towedDate = $("#towedDate").val()
    let exitDate = $("#exitDate").val()
    let additionalFee = $("#additionalFee").val()

    makeInputChange(false);

    $(document).ready(function () {
      const endPoint = "/vehicle/calculate";
      if(!$("#receiver").val()) {
        alert("Lütfen alıcı giriniz");
        makeInputChange(true);
      } else if (discount && !discountRoleId) {
        alert("Rol Seçmelisiniz");
        makeInputChange(true);
      } 
      else {
        $.ajax({
        url: endPoint,
        type: "POST",
        dataType: 'json',
        data: {
          plate: plate,
          towedDate: towedDate,
          entranceParkingLotDate: entranceParkingLotDate,
          exitDate: exitDate,
          vehicleTypeId: vehicleTypeId,
          discount: discount,
          discountRoleId: discountRoleId,
          additionalFee: additionalFee
        },
        success: function (result) {
          makeInputChange(false);
          var fullPrice = document.getElementById("fullPrice");
          var discountPrice = document.getElementById("discountPrice");
          var exitButton = document.getElementById("exitButton");
          exitButton.disabled = false;
          fullPrice.value = result.fullPrice
          discountPrice.value = result.discountPrice
          if(result.discountPrice === null) {
            discountPrice.disabled = true;
          }
          $("#DiscountYes").css("pointer-events","none");
          $("#DiscountNo").css("pointer-events","none");

          exitButton.classList.add('btn-success');
          exitButton.classList.remove('btn-secondary');
        },
        error: function (error) {
          makeInputChange(true);
        }
      });
      }

    });
  }
</script>

<script>
  function hideRoleSelect() {
    if ($("#DiscountYes").is(":checked")) {
      $("#discountRoleId").removeAttr("disabled");
    }
    if ($("#DiscountNo").is(":checked")) {
      $("#discountRoleId").attr("disabled", "disabled");
      $('#discountRoleId').prop('selectedIndex', 0);
    }
  }
</script>

<script>
  function restart() {
    $("#fullPrice").val('');
    $("#discountPrice").val('');
    $("#receiver").val('');
    

    $("select").css("pointer-events","auto");
    $("#vehicleTypeId").css("pointer-events","none");
    $("#DiscountYes").css("pointer-events","auto");
    $("#DiscountNo").css("pointer-events","auto");
    $("#receiver").removeAttr("readonly")

    var exitButton = document.getElementById("exitButton");
    exitButton.disabled = true;
    exitButton.classList.add('btn-secondary');
    exitButton.classList.remove('btn-success');
  }
</script>

<script>
  function showWarning(){
     if($("#enforcementOfficeId").val() !== "") {
       document.getElementById("warningText").hidden = false;
     } else {
       document.getElementById("warningText").hidden = true;
     }
  }
</script>
<script>
  $(document).ready(function() {
    var discountNo = document.getElementById("DiscountNo");
    discountNo.checked = true;
    $("#vehicleTypeId").css("pointer-events","none");
});
</script>