<div class="table-container">
  <table class="table table-striped">
    {{#if success}}
      <div class="alert alert-success" role="alert">
        {{success}}
      </div>
    {{/if}}
    {{#if error}}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {{/if}}
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Adı</th>
      <th scope="col">Soyadı</th>
      <th scope="col">Kullancı Adı</th>
      <th scope="col">Mail</th>
      <th scope="col">Profil</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {{#each userList}}
      <tr class="">
        <td class="column1"> {{this.id}}</td>
        <td class="column2"> {{this.name}} </td>
        <td class="column3"> {{this.surname}} </td>
        <td class="column4"> {{this.username}} </td>
        <td class="column5"> {{this.email}}</td>
        <td class="column6"> {{this.[USER_ROLE.role]}}</td>
        <td class="column7" style="text-align:center; width:85px;">
          <a href="/user/update/{{this.id}}">
            <i class="fa fa-pencil-square-o fa-m btn btn-success" aria-hidden="true" ></i>
          </a>
          <a href="/user/delete/{{this.id}}" onclick="return confirm('Silmek istediğinize emin misiniz ?');">
            <i class="fa fa-trash fa-m btn btn-danger" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>