<div class="table-container">
  <table class="table table-striped">

    {{> components/showMessage }}

    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Adı</th>
      <th scope="col">Transfer İndirimi (%)</th>
      <th scope="col">Park İndirimi (%)</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {{#each discountList}}
      <tr>
        <td class="column1"> {{incrementByOne @index}}</td>
        <td class="column2"> {{this.name}} </td>
        <td class="column3"> {{this.transferDiscount}} </td>
        <td class="column4"> {{this.parkDiscount}} </td>
        <td class="column5" style="text-align:center; width:85px;">
          <a href="/discount/update/{{this.id}}">
            <i class="fa fa-pencil-square-o fa-m btn btn-success" aria-hidden="true" ></i>
          </a>
          <a href="/discount/delete/{{this.id}}" onclick="return confirm('Silmek istediğinize emin misiniz ?');">
            <i class="fa fa-trash fa-m btn btn-danger" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

</div>