<div class="table-container">
  {{> components/showMessage }}
  <header class="form-navigation">
    <a href="/additionalfee/add"><i class="fas fa-plus"></i> Ekle</a>
    <span>Ek Ücret İşlemleri</span>
  </header>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ad</th>
        <th scope="col">Ücret (₺)</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each additionalFeeList}}
      <tr>
        <td class="column1"> {{incrementByOne @index}}</td>
        <td class="column2"> {{this.name}} </td>
        <td class="column3"> {{this.fee}} </td>
        <td class="column4" style="text-align:center; width:85px;">
          <a href="/additionalfee/update/{{this.id}}">
            <i class="far fa-edit fa-sm btn btn-success" aria-hidden="true"></i>
          </a>
          <a href="/additionalfee/delete/{{this.id}}" onclick="return confirm('Silmek istediğinize emin misiniz ?');">
            <i class="fas fa-trash fa-sm btn btn-danger" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>