<div class="table-container">
  <div>
    <div class="form-container">
      {{> components/showMessage }}
      <header class="form-navigation">
        <a href="/vehicle/add"><i class="fas fa-plus"></i> Ekle</a>
        <span>Araç Giriş/Çıkış İşlemleri</span>
      </header>
      <form class="border border-light" action="/vehicle/search" method="POST">
        <div class="form-group row row-cols-3">
          <div class="col">
            <label class="col-form-label">Araç Plakası</label>
            <input name="plate" type="text" class="form-control" placeholder="Araç plakasını girin">
          </div>
          <div class="col">
            <label class="col-form-label">Transfer Durumu</label>
            <select class="browser-default custom-select" name="stateId" id="stateId">
              <option value="">
                Transfer Durumu
              </option>
              {{#each vehicleStates}}
              <option value="{{this.id}}">
                {{this.description}}
              </option>
              {{/each}}
            </select>
          </div>
          <div class="col">
            
          </div>
        </div>
        <div class="form-group row row-cols-4">
          <div class="col">
            <label class="col-form-label">Parka Giriş Tarihi Başlangıç</label>
            <input name="parkingLotEntranceBegin" type="text" class="form-control" placeholder="Araç plakasını girin">
          </div>
          <div class="col">
            <label class="col-form-label">Parktan Giriş Tarihi Bitiş</label>
            <input name="parkingLotEntranceEnd" type="text" class="form-control" placeholder="Araç plakasını girin">
          </div>
          <div class="col">
            <label class="col-form-label">Parktan Çıkış Tarihi Başlangıç</label>
            <input name="parkingLotExitBegin" type="text" class="form-control" placeholder="Araç plakasını girin">
          </div>
          <div class="col">
            <label class="col-form-label">Parktan Çıkış Tarihi Bitiş</label>
            <input name="parkingLotExitEnd" type="text" class="form-control" placeholder="Araç plakasını girin">
          </div>
        </div>
        <div class="form-group row row-cols-4" >
          <div class="col">
            <label>Ara</label>
            <button type="button submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {{#if vehicles}}
    <div style="margin: 12px 16px;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Plaka</th>
            <th scope="col">Şasi No</th>
            <th scope="col">Otopark</th>
            <th scope="col">Parka Giriş Tarihi</th>
            <th scope="col">Parktan Çıkış Tarihi</th>
            <th scope="col">Durum</th>
            <th scope="col">Çıkış</th>
          </tr>
        </thead>
        <tbody>
          {{#each vehicles}}
          <tr>
            <th class="column1">{{@index}}</th>
            <td class="column2">{{plate}}</td>
            <td class="column3">{{lookup this 'Vehicle.chassisNo'}}</td>
            <td class="column4">{{lookup this 'ParkingLot.name'}}</td>
            <td class="column5">{{entranceParkingLotDate}}</td>
            <td class="column6">{{exitParkingLotDate}}</td>
            <td class="column7">{{lookup this 'VehicleState.description'}}</td>
            {{#ifEquals (lookup this 'VehicleState.description') 'Otoparkta' }}
           <td class="column8">
              <a href="/vehicle/exit?plate={{../this.plate}}">
                <i class="far fa-edit fa-sm btn btn-primary" aria-hidden="true"></i>
              </a>
            </td>
            {{/ifEquals}}
            {{#ifNotEquals (lookup this 'VehicleState.description') 'Otoparkta' }}
            <td class="column8">
              <a style="pointer-events: none; cursor: default;">
                <i class="far fa-edit fa-sm btn btn-secondary" aria-hidden="true"></i>
              </a>
            </td>
            {{/ifNotEquals}}
            <script>
            </script>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}
    </div>
</div>