<%- include('../common/header') %>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">licensePlate%></th>
        <th scope="col">trusteeNo%></th>
        <th scope="col">entranceDate%></th>
        <th scope="col">engineNo%></th>
        <th scope="col">chassisNo%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><%= vehicle.licensePlate || 'value not specified' %></td>
        <td><%= vehicle.trusteeNo || 'value not specified' %></td>
        <td><%= vehicle.entranceDate || 'value not specified' %></td>
        <td><%= vehicle.engineNo || 'value not specified' %></td>
        <td><%= vehicle.chassisNo || 'value not specified' %></td>
      </tr>
    </tbody>
  </table>
  <%- include('../common/footer') %>
